.background    { background: url(../images/background.gif);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: url("../images/lava.png"); }
.wall          { background: url("../images/ground.gif");   }

.actor  { position: absolute;  }
.coin   { background: url(../images/coin.gif); }
.victory { background: rgb(150, 150, 255); }
.player { background: rgb(80, 80, 240); }
.fireball { background: url("../images/lava.png"); }

.game {
  overflow: hidden;
  max-width: 800px;
  max-height: 600px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

canvas {
    padding: 2;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background: url(../images/background2.png);
	background-size: 100%;
}
@media only screen and (min-width: 1350px) and (min-height: 925px) {
h1 {
    text-align: center;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 64px;
	color: #aaaaaa;
	text-shadow: #000 4px 4px 1px, #000 -4px -4px 1px, #000 4px -4px 1px, #000 -4px 4px 1px;
	padding: 1;
    margin: auto;
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h4 {
    text-align: center;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 32px;
	text-shadow: #000 2px 2px 1px, #000 -2px -2px 1px, #000 2px -2px 1px, #000 -2px 2px 1px;
	color: #aaaaaa;
	padding: 0;
    margin: auto;
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h5 {
    text-align: center;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 28px;
	text-shadow: #000 2px 2px 1px, #000 -2px -2px 1px, #000 2px -2px 1px, #000 -2px 2px 1px;
	color: #aaaaaa;
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
}
}

@media only screen and (max-width: 1150px){
h1 {
    visibility: hidden;
}

h4 {
    visibility: hidden;
}

h5 {
    visibility: hidden;
}
}

